DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=admission_user
DATABASE_PASSWORD=admission_password
DATABASE_NAME=admission_db
DATABASE_URL=postgres+asyncpg://admission_user:admission_password@db:5432/admission_db
